# Executables
*.exe
*.out
*.app

# Log file
*.log
  
# Compiled class file
*.class

# dotenv
.env
.env.*

# Byte-compiled / optimized / DLL files
__pycache__/

# Editer_Trush
.vscode
setting.json
.dist
*.swp

# Custom files
config/*
storage/csv_files/*
storage/default_images/*.pptx
storage/downloaded_images/*
storage/generated_images/*